@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
$branco: #ffffff;
$corPrincipal: #f0fdf4;
$fundoCaixas: #f3f5f8;
$subtitulo: #4b5563;
$titulo: #1f2937;
$grayscale200: #9ca3af;
$cinzaClaro: #6b7280;
$corPrimaria: #16a34a;
$corSecundaria: #21c05c;
$darker: #09090b;
$secondary: #2563eb;

header {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  align-items: center;
  margin: 0 40px;
  border-bottom: 2px #b4aeae solid;

  div {
    display: flex;
    align-items: center;
    gap: 20px;

    h1 {
      color: $titulo;
      font-size: 2rem;
    }
  }
}
.navbar {
  text-align: center;
  ul {
    display: flex;
    align-items: center;
    gap: 30px;

    li a {
      color: $titulo;
      font-size: 1rem;
    }
  }
}
.btnverde {
  border-radius: 10px;
  background-color: $corSecundaria;
  padding: 20px 40px;

  .link {
    font-size: 1rem;
    color: $branco;
  }
}

h3 {
  margin-left: 30px;
}
