@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
$white: #ffffff;
$corPrincipal: #f0fdf4;
$subtitle: #4b5563;
$grayscale100: #f3f5f8;
$grayscale200: #9ca3af;
$grayscale700: #1f2937;
$gray: #6b7280;
$colorprimary: #16a34a;
$colorsecondary: #21c05c;
$darker: #09090b;
$secondary: #2563eb;

header {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  align-items: center;
  margin: 0 50px;
  border-bottom: 2px #b4aeae solid;

  @media (max-width: 430px) {
    flex-direction: column;
    margin: 0 15px;
    height: 10vh;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 54px;

      @media (max-width: 430px) {
        width: 40px;
      }
    }

    h1 {
      color: $grayscale700;
      font-size: 2.85rem;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
header .navbar {
  @media (max-width: 430px) {
    display: none;
  }
  text-align: center;
  ul {
    display: flex;
    align-items: center;
    gap: 40px;

    li a {
      color: $subtitle;
      font-size: 1.5rem;
      line-height: 100%;

      &:hover {
        color: $colorsecondary;
      }
    }
  }
}
header .btnverde {
  border-radius: 10px;
  background-color: $colorprimary;
  padding: 20px 40px;
  cursor: pointer;

  .link {
    font-size: 1.25rem;
    color: $white;
  }
  &:hover {
    background-color: $colorsecondary;
  }
}
main .hero {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: auto;
  justify-content: space-between;

  @media (max-width: 430px) {
    flex-direction: column;
  }

  .hero-title {
    width: 70vw;
    @media (max-width: 430px) {
      width: 90vw;
      margin: auto;
    }

    h2 {
      font-size: 5.5rem;
      color: $grayscale700;
      line-height: 130%;

      @media (max-width: 430px) {
        font-size: 2rem;
        margin-top: 20px;
      }
    }
    p {
      font-family: 'Inter', sans-serif;
      font-size: 1.75rem;
      padding-right: 20px;
      color: $subtitle;
      line-height: 100%;
      margin-block: 40px 80px;
    }
  }
  .logo2 {
    width: 740px;
    margin-right: -70px;
    @media (max-width: 430px) {
      width: 250px;
      margin: auto;
    }
  }
}
main .hero-title .hero-buttons {
  margin-top: 60px;
  @media (max-width: 430px) {
    margin-left: 50px;
  }
  button {
    border-radius: 6px;
    width: 230px;
    height: 75px;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    margin-right: 50px;
    @media (max-width: 430px) {
      margin-bottom: 20px;
    }

    img {
      margin-left: 8px;
      width: 26 px;
      margin-bottom: -5px;
    }
  }
  .btngreen {
    background-color: $colorprimary;
    color: $white;
    border: 1px solid $colorsecondary;

    &:hover {
      background-color: $colorsecondary;
    }
  }
  .btnblue {
    background-color: $white;
    color: $secondary;
    border: 1px solid $secondary;

    &:hover {
      background-color: #8cb0fc;
      color: $white;
    }
  }
}
main .databar {
  background-color: $grayscale100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 220px;

  @media (max-width: 430px) {
    flex-wrap: wrap;
    padding: 50px;
    height: 500px;
  }

  .databar-info {
    text-align: center;
    h2 {
      color: $colorprimary;
      font-size: 3rem;
      margin-bottom: 0.75rem;
    }
    p {
      font-size: 1.25rem;
      color: $subtitle;
    }
  }
}
main .howfunction {
  margin: 120px;

  @media (max-width: 430px) {
    margin: 20px;
  }

  h2 {
    font-size: 3.5rem;
    color: $grayscale700;
    margin-bottom: 30px;

    @media (max-width: 430px) {
      font-size: 2.25rem;
    }
  }
  p {
    font-size: 2.5rem;
    color: $grayscale700;
    font-family: 'Inter', sans-serif;

    @media (max-width: 430px) {
      font-size: 2rem;
    }
  }
  .howfunction-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;

    @media (max-width: 430px) {
      margin-top: 40px;
      flex-direction: column;
      gap: 20px;
    }

    .howfunction-cards_card {
      width: 650px;
      background-color: $grayscale100;
      border-radius: 8px;
      padding: 50px;

      @media (max-width: 430px) {
        width: 90vw;
        padding: 10px;
        margin: auto;
      }
    }
    .card-titulo {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 20px 0 40px;

      img {
        width: 80px;
      }

      h3 {
        font-size: 2.5rem;
        line-height: 150%;
        font-family: 'Inter', sans-serif;
        font-weight: 400;

        @media (max-width: 430px) {
          font-size: 1.75rem;
        }
      }
    }
    .green h3 {
      color: $colorprimary;
    }
    .blue h3 {
      color: $secondary;
    }
    p {
      font-size: 1.25rem;
      color: $subtitle;
      font-family: 'Poppins', sans-serif;
    }
  }
}
main .howfunction-cards_card .card-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 60px;

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: #21c05c;
    color: $white;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;

    @media (max-width: 430px) {
      width: 40px;
      height: 40px;
    }
  }
  .blue {
    background-color: $secondary;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    color: $subtitle;
  }
}

main .produts {
  background-color: $grayscale100;
  padding: 60px 100px 100px;

  @media (max-width: 430px) {
    padding: 20px;
  }

  h4 {
    font-size: 3rem;
    color: $grayscale700;
    @media (max-width: 430px) {
      font-size: 2rem;
    }
  }
  p {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: $subtitle;
    margin: 20px 0 60px 0;
    @media (max-width: 430px) {
      font-size: 1.5rem;
    }
  }

  .produts-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 430px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
main .produts .produts-cards_card {
  width: 416px;
  height: 600px;
  background-color: $white;
  border: 3px solid $colorprimary;
  border-radius: 10px;
  text-align: center;

  @media (max-width: 430px) {
    width: 90vw;
    height: 540px;
    margin: auto;
  }

  img {
    width: 100%;
    margin-bottom: 24px;
  }
  h4 {
    font-size: 2rem;
    font-weight: 400;
    color: $darker;
    font-family: 'Inter', sans-serif;
  }
  p {
    color: $subtitle;
    font-size: 1.3rem;
    padding: 0 34px;
    margin: 20px 0 40px 0;
  }
  .fones {
    padding: 0 40px;
  }
  a {
    font-size: 1.2rem;
    color: $white;
    background-color: $colorprimary;
    padding: 10px 30px;
    border: 1px solid $colorsecondary;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    &:hover {
      background-color: $colorsecondary;
    }
  }
}
main .reviews {
  padding: 50px 30px;
  text-align: center;

  h5 {
    font-size: 3.25rem;
    color: $grayscale700;
    @media (max-width: 430px) {
      font-size: 2rem;
    }
  }
  p {
    font-family: 'Inter', sans-serif;
    font-size: 2.25rem;
    color: $subtitle;
    line-height: 150%;
    margin-block: 10px;
    @media (max-width: 430px) {
      font-size: 1.5rem;
    }
  }
}
main .reviews-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
  @media (max-width: 430px) {
    flex-direction: column;
  }

  .reviews-cards_card {
    width: 500px;
    border-radius: 8px;
    border: 1px solid $grayscale200;
    border-left: 4px solid $grayscale200;
    padding: 30px 80px 30px 40px;
    text-align: left;

    @media (max-width: 430px) {
      width: 85vw;
      margin: auto;
    }

    img {
      width: 200px;
    }
    p {
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
      margin-block: 30px;
    }
  }
}
main .reviews-cards_card .user {
  display: flex;
  gap: 10px;
  img {
    width: 50px;
  }
  .user-name {
    font-family: 'Inter', sans-serif;
    color: $gray;
    h5 {
      color: $darker;
      font-size: 1.25rem;
      font-weight: 400;
    }

    p {
      margin-block: 0;
      font-size: 1rem;
    }
  }
}
main .information {
  background-color: $grayscale100;
  text-align: center;
  padding: 70px;
  @media (max-width: 430px) {
    padding: 20px 20px 70px 20px;
  }
  h6 {
    font-size: 3rem;
    color: #000;
    @media (max-width: 430px) {
      font-size: 2.5rem;
    }
  }
  p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    line-height: 150%;
    width: 750px;
    margin: 20px auto;

    @media (max-width: 430px) {
      width: 90vw;
      font-size: 1.5rem;
    }
  }
  .information-btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @media (max-width: 430px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    a {
      font-size: 1.2rem;
      color: $white;
      background-color: $colorprimary;
      padding: 10px 30px;
      border-radius: 6px;
      transition: 0.3s;

      &:hover {
        background-color: $colorsecondary;
      }
    }

    .btn2 {
      background-color: transparent;
      color: $colorprimary;
      margin-left: 20px;
      padding: 10px 34px;
      border: 1px solid $colorprimary;

      &:hover {
        color: $white;
      }
    }
  }
}
footer {
  background-color: $grayscale700;
  text-align: center;

  .footer-bottom {
    border-top: 1px solid $subtitle;
    padding: 30px;
    color: $grayscale200;
  }
}
footer .footer-top {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 50px 0;

  @media (max-width: 430px) {
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
  }
  h6 {
    font-size: 1.25rem;
    color: $white;
    font-weight: 700;
    margin-bottom: 30px;
    @media (max-width: 430px) {
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 1.25rem;
    color: $grayscale200;
  }
  div {
    width: 300px;
  }
  img {
    width: 200px;
    margin-bottom: 24px;
  }
  ul li {
    margin-bottom: 10px;

    a {
      color: $grayscale200;
      font-size: 1.25rem;

      &:hover {
        color: $colorsecondary;
      }
    }
  }
}
footer .footer-top .redes {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  img {
    width: 40px;

    &:hover {
      transform: scale(1.2);
    }
  }
}
