@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
$branco: #ffffff;
$corPrincipal: #f0fdf4;
$subtitulo: #4b5563;
$grayscale100: #f3f5f8;
$grayscale200: #9ca3af;
$grayscale700: #1f2937;
$cinzaClaro: #6b7280;
$corPrimaria: #16a34a;
$corSecundaria: #21c05c;
$darker: #09090b;
$secondary: #2563eb;

header {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  align-items: center;
  margin: 0 40px;
  border-bottom: 2px #b4aeae solid;

  div {
    display: flex;
    align-items: center;
    gap: 20px;

    h1 {
      color: $grayscale700;
      font-size: 2rem;
    }
  }
}
header .navbar {
  text-align: center;
  ul {
    display: flex;
    align-items: center;
    gap: 30px;

    li a {
      color: $grayscale700;
      font-size: 1rem;
    }
  }
}
header .btnverde {
  border-radius: 10px;
  background-color: $corPrimaria;
  padding: 20px 40px;
  cursor: pointer;

  .link {
    font-size: 1rem;
    color: $branco;
  }
}

main .hero {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: auto;
  justify-content: space-between;

  .hero-title {
    width: 900px;
    h2 {
      font-size: 5rem;
      color: $grayscale700;
      line-height: 130%;
    }
    p {
      font-family: 'Inter', sans-serif;
      font-size: 1.75rem;
      padding-right: 20px;
      color: $subtitulo;
      line-height: 100%;
      margin-block: 40px 80px;
    }
  }
  .logo2 {
    width: 620px;
  }
}
main .hero-title .hero-buttons {
  margin-top: 60px;
  button {
    border-radius: 6px;
    width: 230px;
    height: 75px;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    margin-right: 50px;

    img {
      margin-left: 8px;
      width: 26 px;
      margin-bottom: -5px;
    }
  }
  .btngreen {
    background-color: $corPrimaria;
    color: $branco;
    border: 1px solid $corSecundaria;

    &:hover {
      background-color: $corSecundaria;
    }
  }
  .btnblue {
    background-color: $branco;
    color: $secondary;
    border: 1px solid $secondary;

    &:hover {
      background-color: #8cb0fc;
      color: $branco;
    }
  }
}
main .databar {
  background-color: $grayscale100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 184px;

  .databar-info {
    text-align: center;
    h2 {
      color: $corPrimaria;
      font-size: 3rem;
      margin-bottom: 0.75rem;
    }
    p {
      font-size: 1.25rem;
      color: $subtitulo;
    }
  }
}
main .howfunction {
  margin: 120px;

  h2 {
    font-size: 3.5rem;
    color: $grayscale700;
    margin-bottom: 30px;
  }
  p {
    font-size: 2.5rem;
    color: $grayscale700;
    font-family: 'Inter', sans-serif;
  }
  .howfunction-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;

    .howfunction-cards_card {
      width: 700px;
      background-color: $grayscale100;
      border-radius: 8px;
      padding: 50px;
    }
    .card-titulo {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 20px 0 40px;

      img {
        width: 80px;
      }

      h3 {
        font-size: 2.5rem;
        line-height: 150%;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
      }
      .green h3 {
        color: $corPrimaria;
      }
      .blue h3 {
        color: $secondary;
      }
    }
    p {
      font-size: 1.25rem;
      color: $subtitulo;
      font-family: 'Poppins', sans-serif;
    }
  }
}

main .howfunction-cards_card .card-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 60px;

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: #21c05c;
    color: $branco;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .blue {
    background-color: $secondary;
  }
  h3 {
    font-size: 1.25rem;
  }
}
