@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  align-items: center;
  margin: 0 40px;
  border-bottom: 2px #b4aeae solid;
}
header div {
  display: flex;
  align-items: center;
  gap: 20px;
}
header div h1 {
  color: #1f2937;
  font-size: 2rem;
}

header .navbar {
  text-align: center;
}
header .navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navbar ul li a {
  color: #1f2937;
  font-size: 1rem;
}

header .btnverde {
  border-radius: 10px;
  background-color: #16a34a;
  padding: 20px 40px;
  cursor: pointer;
}
header .btnverde .link {
  font-size: 1rem;
  color: #ffffff;
}

main .hero {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: auto;
  justify-content: space-between;
}
main .hero .hero-title {
  width: 900px;
}
main .hero .hero-title h2 {
  font-size: 5rem;
  color: #1f2937;
  line-height: 130%;
}
main .hero .hero-title p {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  padding-right: 20px;
  color: #4b5563;
  line-height: 100%;
  margin-block: 40px 80px;
}
main .hero .logo2 {
  width: 620px;
}

main .hero-title .hero-buttons {
  margin-top: 60px;
}
main .hero-title .hero-buttons button {
  border-radius: 6px;
  width: 230px;
  height: 75px;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  margin-right: 50px;
}
main .hero-title .hero-buttons button img {
  margin-left: 8px;
  width: 26 px;
  margin-bottom: -5px;
}
main .hero-title .hero-buttons .btngreen {
  background-color: #16a34a;
  color: #ffffff;
  border: 1px solid #21c05c;
}
main .hero-title .hero-buttons .btngreen:hover {
  background-color: #21c05c;
}
main .hero-title .hero-buttons .btnblue {
  background-color: #ffffff;
  color: #2563eb;
  border: 1px solid #2563eb;
}
main .hero-title .hero-buttons .btnblue:hover {
  background-color: #8cb0fc;
  color: #ffffff;
}

main .databar {
  background-color: #f3f5f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 184px;
}
main .databar .databar-info {
  text-align: center;
}
main .databar .databar-info h2 {
  color: #16a34a;
  font-size: 3rem;
  margin-bottom: 0.75rem;
}
main .databar .databar-info p {
  font-size: 1.25rem;
  color: #4b5563;
}

main .howfunction {
  margin: 120px;
}
main .howfunction h2 {
  font-size: 3.5rem;
  color: #1f2937;
  margin-bottom: 30px;
}
main .howfunction p {
  font-size: 2.5rem;
  color: #1f2937;
  font-family: "Inter", sans-serif;
}
main .howfunction .howfunction-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}
main .howfunction .howfunction-cards .howfunction-cards_card {
  width: 700px;
  background-color: #f3f5f8;
  border-radius: 8px;
  padding: 50px;
}
main .howfunction .howfunction-cards .card-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0 40px;
}
main .howfunction .howfunction-cards .card-titulo img {
  width: 80px;
}
main .howfunction .howfunction-cards .card-titulo h3 {
  font-size: 2.5rem;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
main .howfunction .howfunction-cards .card-titulo .green h3 {
  color: #16a34a;
}
main .howfunction .howfunction-cards .card-titulo .blue h3 {
  color: #2563eb;
}
main .howfunction .howfunction-cards p {
  font-size: 1.25rem;
  color: #4b5563;
  font-family: "Poppins", sans-serif;
}

main .howfunction-cards_card .card-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 60px;
}
main .howfunction-cards_card .card-list .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #21c05c;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
main .howfunction-cards_card .card-list .blue {
  background-color: #2563eb;
}
main .howfunction-cards_card .card-list h3 {
  font-size: 1.25rem;
}/*# sourceMappingURL=style.css.map */